#symbol-selector-container {
    width: 280px;
    height: 100%;
}

#main-content {
    width: calc(100vw - 280px);
    height: calc(100vh - 60px - 23px);
    min-width: calc(800px + 320px + 23px);
    min-height: 300px;
    padding-bottom: 23px;
    padding-right: 23px;
    /* background-color: green; */
}

#scroll{
    /* background-color: aqua; */
    width: calc(100vw - 280px);
    --scrollbar-size: 15px;
    --scrollbar-thumb-color: #FFE0B2;
    --scrollbar-track-color: rgba(0, 0, 0, 0.592);
}

#guide {
    min-width: 800px;
    width: calc(100vw - 280px);
}

#main-chart-container {
    min-width: 800px;
    width: calc(100vw - 280px - 320px);
    height: calc(100vh - 60px - 23px);
}

#panels-container{
    padding-top: 13px;
    min-width: 320px;
    width: 320px;
    height: calc(100vh - 60px - 23px);
    /* background-color: aqua; */
}